@model Accounts.Models.ChangeEmailViewModel

@{
    ViewBag.Title = "Alterar e-mail";
}

<h2>@(ViewBag.Title)</h2>

<hr />

@using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p class="help-block">
                Após alterar o e-mail seu usuário será desconectado, um e-mail com o link de confirmação será enviado para o seu novo endereço,
                somente após este passo será possível se autenticar novamente.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Email">@Html.DisplayNameFor(m => m.CurrentEmail)</label>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.CurrentEmail)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control no-copy-paste" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control no-copy-paste" })
            @Html.ValidationMessageFor(model => model.ConfirmEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Password, "Password")
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/Manage/Index" class="btn btn-default">Voltar</a>
            <input type="submit" value="Alterar e-mail" class="btn btn-primary" />
        </div>
    </div>
}