@model Accounts.Models.ManageViewModels.IndexViewModel

@{
    ViewBag.Title = "Minha conta";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="col-md-4">
    <div class="list-group">
        
        <span class="list-group-item active"><span class="fa fa-sign-in"></span> &nbsp; Serviços</span>
        <a class="list-group-item" href="@ViewBag.VirtualUrl/Polis/Processo/Index">Meus processos SEMA</a>
        <a class="list-group-item" style="display: none;" id="certLink" asp-action="EletronicSignature" asp-controller="Manage">Certificação do usuário</a>
        <a class="list-group-item" style="display: none;" id="addDocLink" asp-action="AddDocument" asp-controller="Certification">Adicionar documento ao processo de certificação</a>
        
        @if (!string.IsNullOrWhiteSpace(Model.LinkSeiProtocol))
        {
            <a class="list-group-item" target="_blank" href="@Model.LinkSeiProtocol">
                Consultar processo de certificação
            </a>
        }

        <a class="list-group-item" target="_blank" href="@ViewBag.SignDocumentLink">
            Assinatura eletrônica
        </a>
        
    </div>
</div>

<div class="col-md-4">
    <div class="list-group">
        
        <span class="list-group-item active"><span class="glyphicon glyphicon-cog"></span> &nbsp; Preferências da conta</span>
        <a class="list-group-item" asp-action="ChangePassword">Alterar senha</a>
        <a class="list-group-item" asp-action="ChangeEmail">Alterar email</a>
        <a class="list-group-item" asp-action="Edit" asp-controller="People">Editar meu cadastro</a>
        <a class="list-group-item" asp-action="Edit" asp-controller="Addresses">Editar meu endereço</a>
        <a class="list-group-item" asp-action="Index" asp-controller="Phones">Editar meus telefones de contato</a>

    </div>
</div>

<div class="col-md-4">
    <div class="list-group">
        
        <span class="list-group-item active"><span class="glyphicon glyphicon-cog"></span> &nbsp; Legislação</span>
        <a class="list-group-item" target="_blank" href="@(ViewBag.Decree)">
            Decreto municipal 27.082/2016
        </a>
        <a class="list-group-item" target="_blank" href="@(ViewBag.Instruction)">
            Instrução normativa SEI Nº 06/2016
        </a>

    </div>
</div>
