@model Accounts.Models.ManageViewModels.IndexViewModel

@{
    ViewBag.Title = "Minha conta";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="col-md-4">
    <section>

        <h4>Altere as definições da sua conta</h4>
        
        <hr>

        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Alterar senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Definir senha", "SetPassword")
            }
        </p>

        <p>
            @Html.ActionLink("Alterar email", "ChangeEmail")
        </p>

        <p>
            @if (User.Identity.Name.Length > 11)
            {
                @Html.ActionLink("Editar meu cadastro", "Edit", "Companies")
            }
            else
            {
                @Html.ActionLink("Editar meu cadastro", "Edit", "People")
            }
        </p>

        <p>
            @Html.ActionLink("Editar meu endereço", "Edit", "Addresses")
        </p>

        <p>
            @Html.ActionLink("Editar meus telefones de contato", "Index", "Phones")
        </p>

        @*
            TODO: Utilizar parâmetro como URL do virtual
        *@

        <p>
            <a href="http://virtual.pmjlle.joinville.sc.gov.br/Polis/Processo/Index">Meus processos </a>
        </p>

        <br />

    </section>
</div>

<div class="col-md-4">
    <section>

        <h4>Certificação</h4>

        <hr>

        <p style="display: none;" id="certLink">
            @Html.ActionLink("Certificação do usuário", "EletronicSignature", "Manage")
        </p>
        
        <p style="display: none;" id="addDocLink">
            @Html.ActionLink("Adicionar documento ao processo de certificação", "AddDocument", "Certification")
        </p>
        
        @if (!string.IsNullOrWhiteSpace(Model.LinkSeiProtocol))
        {
            <p>
                <a target="_blank" href="@Model.LinkSeiProtocol">
                    Consultar processo de certificação
                </a>
            </p>
        }

        <br />

    </section>
</div>

<div class="col-md-4">
    <section>

        <h4>Legislação</h4>

        <hr>

        <p>
            <a target="_blank" href="@(ViewBag.Decree)">
                Decreto municipal 27.082/2016
            </a>
        </p>
        
        <p>
            <a target="_blank" href="@(ViewBag.Instruction)">
                Instrução normativa SEI Nº 06/2016
            </a>
        </p>

        <br />

    </section>
</div>

<div class="col-md-4">
    <section>

        <h4>Assinatura eletrônica</h4>
        <hr />

        <p>
            <a href="@ViewBag.SignDocumentLink">Assinatura eletrônica</a>
        </p>

        <br />
        
    </section>
</div>