@using Accounts.Models

@model Accounts.Models.LoginViewModel
@{
    ViewBag.Title = "Entrar";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
            
                @Html.AntiForgeryToken()
                <h4>Utilize seu CPF para se autenticar.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Password, "Password")
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Entrar" class="btn btn-primary" />
                    </div>
                </div>

            </form>

        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">

			<h4>Não possui conta?</h4>
			<hr />

            <p>
                <a href="https://www.joinville.sc.gov.br/servicos/cadastrar-usuario-em-autosservico/">Como cadastrar usuário em autosserviço</a>
            </p>

			<p>
				@Html.ActionLink("Cadastro de pessoa física", "RegisterPerson")
			</p>

            <br />

            <h4>Problemas com a senha?</h4>
            <hr />

			<p>
				@Html.ActionLink("Esqueci minha senha", "ForgotPassword")
			</p>
            <p>
                @Html.ActionLink("Confirmação do email", "SendEmailConfirmation")
            </p>
            
            @*
				@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
			*@
        </section>
    </div>
</div>